.sidebar
  .logo.text-center Hammadeh
  ul.links-list.list-unstyled
    li: a(href="homepage.html", class= pageTitle === "Home page" ? "active": "") Homepage
    li
      a(class="toggle-list", href="#") 
        | Form
        i.fa.fa-angle-right.clearfix
      ul.child-list.list-unstyled
        li: a(href="#") Input
        li: a(href="#") Textarea
        li: a(href="#") Select
        li: a(href="#") Checkbox
        li: a(href="#") Radio
    li
      a(class="toggle-list", href="#")
        | Messages
        i.fa.fa-angle-right.clearfix
      ul.child-list.list-unstyled
        li: a(href="#") Success
        li: a(href="#") Danger
        li: a(href="#") Loading
    li: a(href="contact.html", class= pageTitle === "Contact us" ? "active": "") Contact us