$mainDarkColor: #303944;
$mainLightColor: #8a8fa5;

$white: #fff;
$whiteAlt: #f1f1f1;

$black: #000;
$blackAlt: #333;


$blue: #2980b9;
$blueAlt: #3498db;

$red: #c0392b;
$redAlt: #e74c3c;

$green: #27ae60;
$greenAlt: #2ecc71;

$yellow: #f1c40f;
$yellowAlt: #819823;