// All Themes Colors Properties
$themes_colors: (
    blue_theme: ( color: $blue ),
    red_theme: ( color: $red ),
    green_theme: ( color: $green ),
    yellow_theme: (color: $yellow ),
    dark_theme: (color: $mainLightColor ),
    );

// Loop Throw All Themes To Get Colored Classes For All Theme
@each $theme, $map in $themes_colors {

    $color: map-get($map, color);

    .#{$theme}{

        .sidebar .logo{
            color: $color;
        }
        .sidebar .links-list>li>a.active:before{
            border-color: $color;
        }
        .header .header-icon:hover{
            background-color: $color;
        }
        .header .usermenu-container .usermenu-toggle{
            color: $color;
        }
        .header .usermenu-container .dropdown-menu .user-info h4{
            color: $color;
        }
        .settings-box .settings-toggle:hover{
            background-color: $color;
        }
        .page .content-area .content .pagehead .page-title{
            color: $color;
        }

    }

}