- var pageTitle = "Home Page";
<!DOCTYPE html>
html(lang="en")
  head
    include pug/layouts/meta
    title #{pageTitle}
    include pug/layouts/styles
  body
    .page.homepage
      include pug/components/settings_box
      include pug/layouts/sidebar
      .content-area.clearfix
        include pug/layouts/header
        .container-fluid
          .content
            include pug/components/page_head
    include pug/layouts/scripts