.settings-box
  .settings-toggle
    i.fa.fa-gear.fa-lg
  .settings-content.text-center
    .option-box.color-options
      h4.box-title Color Option
      - var themes = ["blue_theme", "red_theme", "green_theme", "yellow_theme", "dark_theme"];
      ul.list-unstyled
        each theme in themes
          if theme === "blue_theme"           
            li.active(data-theme= theme)
          else
            li(data-theme= theme)
    .option-box.font-options
      h4.box-title Font Option
      - var fonts = ['nunito', 'raleway', 'oxygen', 'karla'];
      select.form-control
        each font in fonts
          option(value=font)=font + ' font'
    .option-box
      h4.box-title  Sidebar Option